
@tailwind base;
@tailwind components;
@tailwind utilities;


/* h3 {

  color: #fffdfa #f15e50;
  
}

 p {
  font-size: 15px;
  color: #c5c6ce;
  color: #00001a;
  background: #fffdfa;
} 

span {
  color: #c5c6ce;
} */